<!DOCTYPE html>
<html>
  <head>
    <title>Catalog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<% if !user_signed_in? %>
<%= link_to "Log in", new_user_session_path %>
<% else %>
<%= link_to "Log out", destroy_user_session_path, method: :delete %>
<%= link_to "Profile", new_profile_path %>


<% end %>

<%= link_to "Products", products_path %>
<hr>
  <body>
    <%= yield %>
  </body>
</html>
